.datatable__component{

    table{

        border-collapse: collapse;
        width: 100%;

        thead{

            background-color: rgba(0, 15, 116, 0.10);

            tr{

                th{
                    color: #003274;
                    padding: 15px 10px;
                    text-align: left;
                }
            }
        }

        tbody{

            td{

                padding: 20px 10px;
            }
        }
    }

    .pagination-controls{
        display: flex;
        justify-content: center;
    }
}