.dropdown__component {

    position: relative;

    .dropdowm-button {
        background-color: transparent;
        border: none;
        color: #003274;
        cursor: pointer;
        display: block;
        font-family: 'Times New Roman', Times, serif;
        font-size: 16px;
        height: 50px;
        padding: 16px 24px;

        &:hover {
            border-bottom: 2px solid #003274;
            color: #003274;
        }
    }

    .dropdown-menu {
        position: absolute;
        top: 50px;

        ul {

            background-color: white;
            padding: 10px 25px;
            width: 170px;

            li {

                list-style: none;
                padding: 10px 0px;

                a {
                    color: #003274;
                    font-size: 16px;
                    text-decoration: none;
                }
            }
        }
    }
}